# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\info\a67-915-Motoc-Simona\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
